[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint-django = "*"
mypy = "*"
faker = "*"

[packages]
django = {extras = ["argon2"],version = "*"}
bcrypt = "*"
pillow = "*"

[requires]
python_version = "3.8"
